@charset "UTF-8";

$quick-nav-icon-text-color: rgba(255, 255, 255, 0.3);

$primary-menu-text-color: #ffffff;
$primary-menu-bg-color: #109894;
$primary-menu-active-item-bg-color: #e99137;

$secondary-menu-text-color: #000000;

$search-border-color: #0f9886;
$search-text-color: #e69335;
$search-icon-color: #0f9886;

$event-banner-bg-color: rgba(139, 78, 183, 0.65);
$event-banner-text-color: #ffffff;

$read-more-text-color: #e99137;

$index-box-header-bg-color: #ffffff;
$index-box-header-text-color: #000000; 
$index-box-bg-color: #f2f2f2;
$index-box-text-color: #000000;
$index-box-text-header-color: #109894;
$index-box-border-color: #d9d9d9;

$quick-nav-bg-color: rgba(242, 242, 242, 0.95);
$quick-nav-text-color: #000000;

$news-tab-caret-color: #109894;
$announcements-tab-caret-color: #e99137;

$footer-bg-color: #f2f2f2;
$footer-text-color: #000000;

$common-text-color: #000000;
$common-title-color: #000000;

$movie-trailer-background: #955fbd;
$movie-background: #f1f1f1;