@charset "UTF-8";

@import "vars";
@import "colors";

.kunta-api-movie-list {
  
  .movie {
    background-color: $movie-background;
    background-position: center;
    padding: 20px;
    margin-left: -5px;
    margin-right: -5px;
    
    .title h3 {
      text-transform: uppercase;
      @include font-std-bold(29px);
    }
  }
  
  .movie-image {
    margin: -20px;
    height: 363px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
  }
  
  .show-trailer-button {
    display: inline-block;
    width: 100%;
    background: $movie-trailer-background;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .movie-field {
    
    label {
      @include font-std-bold(16px);
      margin-bottom: 0px;
    }
    
    span {
      @include font-std(16px);
      padding-left: 5px;
    }
    
    &.showtimes,
    &.classification {
      
      margin-bottom: 5px;
      
      label {
        display: block;
        margin: 0px;
      }
      
      span {
        padding: 0px;
      }
    }
    
    &.classification {
      span::after {
        content: ' / ';
      }
      
      span:last-of-type::after {
        content: '';
      }
    }  
    
    &.showtimes {
      label {
        text-transform: uppercase;   
      }
      
      span {
        display: block;
      }
      
      margin-bottom: 20px;
    }
    
    &.price {
      
      span::after {
        content: ' €';
      }
      
    }
  
    &.description-container {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    
  }
  
}

.kunta-api-movie-list {
  .movie, 
  .movie-list-grid-sizer {
    width: calc(25% - 20px);
    display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
  }
}

@media screen and (max-width: $break-medium) {
  .kunta-api-movie-list {
    .movie, 
    .movie-list-grid-sizer {
      width: calc(50% - 20px);
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: $break-small) {
  .kunta-api-movie-list {
    .movie, 
    .movie-list-grid-sizer {
      width: calc(100%);
      display: inline-block;
      margin-left: 0px;
    }
  }
}
