@charset "UTF-8";

@import "colors";
@import "vars";

.event {

  border-bottom: 1px solid $eventlist-separator-line-color;
  padding-bottom: 7px;
  padding-top: 7px;

  .event-image-container {
    min-height: 120px;
  }

  .event-image {
    background-size: cover;
    height: 100px;
    margin-bottom: 5px;
    margin-top: 5px;
    max-width: 100%;
    min-width: 120px;
    padding-top: 5px;
  }

  .date::after {
    content: " - ";
  }

  .date {
    @include font-std(16px);  
  }  

  .title {
    @include font-std(18px);
  }

}

.events-container.loading {
  background-image: url("/gfx/load.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 64px auto;
  min-height: 500px;
  
  * {
    display: none;
  }
}

.event-list-top-row {
  justify-content: space-between;

  @media (max-width: $break-xx-small) {
    justify-content: center;
  }

  @media (max-width: $break-x-small) {
    padding: 0 15px;
  }

  .btn {
    @media (min-width: $break-large) {
      margin-right: 100px;
    }

    @media (max-width: $break-large - 1) {
      margin-right: 33px;
    }

    @media (max-width: $break-medium) {
      margin-right: 0;
    }

  }
}

.event-list-filter-column {
  @media (max-width: $break-x-small) {
    margin-top: 15px;
  }
}

.event-list-item {
  @media (max-width: $break-x-small) {
    padding: 0 30px;
  }
}
