@charset "UTF-8";

@import "colors";
@import "vars";

.event {

  border-bottom: 1px solid $eventlist-separator-line-color;
  padding-bottom: 7px;
  padding-top: 7px;

  .event-image-container {
    min-height: 120px;
  }

  .event-image {
    background-size: cover;
    height: 100px;
    margin-bottom: 5px;
    margin-top: 5px;
    max-width: 100%;
    min-width: 120px;
    padding-top: 5px;
  }

  .date::after {
    content: " - ";
  }

  .date {
    @include font-std(16px);  
  }  

  .title {
    @include font-std(18px);
  }

}

.events-container.loading {
  background-image: url('/gfx/load.svg');
  background-size: 64px auto;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  
  * {
    display: none;
  }
  
}
