@charset "UTF-8";

@import "vars";
@import "colors";

.header-banner {
  position: relative;
  
  .header-banner-item {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 55px;

    .banner-content-container {
      padding: 35px;
      margin-left: 35px;
      
      @media (max-width: $break-medium) {
        margin: 0;
      }

      @media (max-width: $break-medium) {
        position: absolute;
        left: 15px;
        bottom: 20px;
        width: calc(100% - 30px);
        padding-left: 35px;
        padding-right: 35px;
      }
      
      a.banner-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background: transparent;
        z-index: 0;
      }
    
      h1 {
        @include font-ultra(70px);
        display: inline-block;
        padding-bottom: 12px;
        border-bottom: 1px solid #fff;

        @media (max-width: $break-x-small) { 
          @include font-ultra(40px);
        }
      }
      
      .banner-text {
        @include font-std(18px);
      }
    
      p, h1 {
        position: relative;
        z-index: 1;
        color: #fff;
      }
    }  
  }
}

.quick-nav-buttons-container {
  position: absolute;
  z-index: 2;
  right: -15px;
  top: 12px;
  
  @media (max-width: $break-x-large) {
    right: 12px;
  }
  
  @media (max-width: $break-medium) {
    position: relative;
    right: 0;
    top: -3px;
  }
  
  .quick-nav-button-container {
    padding-left: 3px;
    padding-right: 3px;
    max-width: 146px;
    
    @media (max-width: 1280px) {
      max-width: 50%;
    }
    
    @media (max-width: $break-medium) {
      max-width: 25%;
    }
    
  }
  
  .quick-nav-container {
    background-color: $quick-nav-bg-color;
    width: 100%;
    height: 140px;
    margin-bottom: 3px;
    margin-top: 3px;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;

    @media (max-width: $break-small) {
      height: 110px;
      padding-top: 10px;
    }
    
    .quick-nav-title {
      padding-top: 10px;
      
      h4 {
        color: $quick-nav-text-color;
        text-transform: uppercase;
        @include font-std-bold(16px);  
        
        @media (max-width: $break-small) {
          @include font-std-bold(12px);
        }
        
      }
    }
  } 
}

.events-banner {
  margin-bottom: 15px;
  
  .event-banner-item {
    height: 365px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    .event-banner-content-container {
      padding: 25px;
      background-color: $event-banner-bg-color;
      color: $event-banner-text-color;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      min-height: 120px;
      
      h3 {
        @include font-std-bold(24px);
        text-transform: uppercase;
        letter-spacing: -0.5px;
      }
      
    }
    
  }
}

.index-box {
  margin-bottom: 15px;
  
  .index-box-banner {
    border: none;

    .nav-item {
      margin-bottom: 0;
      width: 50%;
      text-align: center;
      margin-left: 0;
      margin-right: 0;

      .nav-link {
        border: none;
        padding-bottom: 25px;
        padding-left: 0;
        padding-right: 10px;
        white-space: nowrap;
      }
      
      .nav-link.events-tab {
        padding-left: 25px;
        padding-bottom: 48px;
        text-align: left;
      }
      
      .nav-link.active::after {
        font-family: FontAwesome;
        content: "\f0d8";
        font-size: 50px;
        display: block;
        text-align: center;
        height: 0px;
        margin-top: -23px
      }
      
      .nav-link.active.news-tab::after {
        color: $news-tab-caret-color;
      }
      
      .nav-link.active.announcements-tab::after {
        color: $announcements-tab-caret-color;
      }
      
      .nav-link.active.events-tab::after {
        content: "";
      }
    }
    
    h4 {
      color: $index-box-header-text-color;
      text-transform: uppercase;
      margin-bottom: 0;
      max-height: 30px;
      letter-spacing: 1.2px;
      @include font-std-bold(18px);
      
      @media (max-width: $break-medium) {
        @include font-std-bold(15px);
        letter-spacing: 0px;
      }
      
      img {
        margin-right: 10px;
      }
    }
  }
  
  .index-box-content {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: $index-box-bg-color;
    
    .read-more {
      display: block;
      margin-top: 15px;
      margin-bottom: 30px;
      color: $read-more-text-color;
      
      .fa-chevron-right {
        color: $read-more-text-color;
        margin-left: 2px;
        font-size: 10px;
      }
      
    }
    
    .index-box-item {
      padding-top: 15px;
      border-bottom: 1px solid $index-box-border-color;
      
      .index-box-item-header {
        @include font-std(14px);
        color: $index-box-text-header-color;
      }

      .index-box-item-title {
        h6 {
          @include font-std(15px);
          color: $read-more-text-color;
        }
      }

      .index-box-item-content {
        padding-bottom: 15px;
        @include font-std(14px);
        color: $index-box-text-color;
        
        .fa-chevron-right {
          color: $read-more-text-color;
          margin-left: 2px;
          font-size: 10px;
        }
        
        p {
          display: inline;
        }
      }
    }
  }
}

.tile {
  width: 100%;
  min-height: 215px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  margin-bottom: 15px;
  padding: 10px;
  background-color: $index-box-bg-color;

  @media (max-width: $break-x-small) {
    min-height: 126px;
  }

  a.tile-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: transparent;
    z-index: 1;
  }

  h3 {
    @include font-std-bold(16px);
    text-transform: uppercase;
    max-height: 60px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }

  p {
    @include font-std(16px);
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      position: relative;
      z-index: 2;
      color: #000;
      text-decoration: underline;
    }
  }
}