@import "./colors";

.jobs-list-container {
  background-color: $index-box-bg-color;
}

.jobs-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.jobs-list-item {
  border-bottom: 1px solid $index-box-border-color;
  padding-top: 15px;

  h6 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 2px 0;
    padding: 0;
  }

  .jobs-list-item-header {
    color: $index-box-text-header-color;
  }

  .jobs-list-item-title {
    color: $read-more-text-color;
  }

  .jobs-list-item-content {
    color: $index-box-text-color;
    margin-top: 10px;
    font-size: 14px;
  }
}

.fa-chevron-right {
  color: $read-more-text-color;
  font-size: 10px;
}
