nav.navbar.navbar-light.top-nav-container
  .container
    .row.hidden-lg-up
      .col-xs-18.logo-container
        a(href="/")
          img.logo.img-responsive(src="/gfx/layout/mantyharju_logo_mobile.svg")
      .col-xs-6.no-gutters
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#exCollapsingNavbar', aria-controls='exCollapsingNavbar', aria-expanded='false', aria-label='Toggle navigation')
          i.fa.fa-bars
    .collapse.navbar-toggleable-md#exCollapsingNavbar  
      .row
        .col-md-7.logo-container.hidden-md-down
          a(href="/")
            img.logo.logo-desktop(src="/gfx/layout/mantyharju_logo_desktop.svg")
        .col-xs-24.col-lg-6
          .nav-search-container
            input(placeholder="Hae sivustolta")
            i.fa.fa-search(aria-hidden="true")
        .col-xs-24.hidden-lg-up
          ul.nav.navbar-nav.nav-bar-mobile
            if menus['paavalikko']
              each item in menus['paavalikko'].items
                li.mobile-nav-item
                  a.mobile-nav-link(href=item.url)
                    = item.label
            if menus['sisalto']
              each item in menus['sisalto'].items
                li.mobile-nav-item
                  a.mobile-nav-link(href=item.url)
                    = item.label
        .col-lg-11.hidden-md-down
          ul.nav.navbar-nav.nav-bar-secondary
            if menus['sisalto']
              each item in menus['sisalto'].items
                li.nav-item
                  a.nav-link(href=item.url)
                    = item.label
  .container-fluid.no-gutters.navbar-primary-container.hidden-md-down
    .container
      nav.navbar.navbar-light.row
        .col-xs-24.col-lg-16.no-gutter-left.primary-navbar
          ul.nav.navbar-nav.nav-bar-primary
            if menus['paavalikko']
              each item in menus['paavalikko'].items
                li.nav-item
                  a.nav-link(href=item.url)
                    = item.label 