extends ../layout/contents.pug

include ../includes/mixins.pug

block scripts
  script(defer="defer",type="text/javascript", src="//cdn.metatavu.io/libs/jquery-lazyload/1.9.7/jquery.lazyload.min.js")
  script(defer="defer", type="text/javascript", src="//cdn.metatavu.io/libs/masonry/4.1.1/masonry.pkgd.min.js")
  script(defer="defer", type="text/javascript", src="//cdn.metatavu.io/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js")
  script(defer="defer", type="text/javascript", src="//cdn.metatavu.io/libs/lity/2.2.2/lity.min.js")
  script(defer="defer",type="text/javascript", src="/js/contents.js")

block styles
  link(rel="stylesheet", href="/css/contents-common.min.css")
  link(rel="stylesheet", href="/css/contents.min.css") 
  link(rel="stylesheet", href="//cdn.metatavu.io/libs/lity/2.2.2/lity.min.css")

block content
  .container.page-container
    .row
      +breadcrumbs(breadcrumbs)
      
  .container.page-container(class=isMoviePage ? 'movies-container' : '')
    .row
      div.page-nav.no-gutter-left.hidden-md-down(class=isMoviePage ? 'col-lg-4' : 'col-lg-6')
        if rootFolderTitle != title
          h3.root-title
            =rootFolderTitle
        each child in children
          +pageMenuItem(child)                  
      .col-xs-24.hidden-lg-up
        a.btn.btn-primary(title='Näytä valikko', data-toggle='collapse', href='#collapse-menu', aria-expanded='false', aria-controls='collapse-menu')
          i.fa.fa-bars
        .collapse#collapse-menu
          .col-xs-24.page-nav.no-gutters
            each child in children
              +pageMenuItem(child)
      .col-xs-24.col-lg-18
        .page-content
          h1
            !=title
          if featuredImageSrc
            .featured-image(data-lazy-bg-image=featuredImageSrc)
          !=contents
    input.rootPath(type="hidden", value=rootPath)