extends ../layout/contents.pug

include ../includes/mixins.pug

block scripts
  script(defer='defer',src='//cdn.metatavu.io/libs/flatpickr/3.0.7/flatpickr.min.js',type='text/javascript')
  script(defer="defer",type="text/javascript", src="/js/events-list.js")

block styles
  link(rel="stylesheet", href="/css/contents-common.min.css")
  link(rel="stylesheet", href="/css/common-list.min.css")
  link(rel="stylesheet", href="/css/event-list.min.css")
  link(rel='stylesheet', href='//cdn.metatavu.io/libs/flatpickr/2.6.1/flatpickr.min.css')

block content
  .container.page-container
    .row
      +breadcrumbs(breadcrumbs)
        
  .container.page-container
    .row.event-list-top-row
      .col-4
        h1
          |Tapahtumat
      .col-4
        a.pull-right.btn.btn-success(href="/tapahtumat/uusi")
          |Lisää uusi tapahtuma
    .row
      .col-xs-24.col-lg-18.events-container
      .col-lg-6.event-list-filter-column
        h5.date-filter-title
          i.fa.fa-calendar
          |&nbsp;Suodata
        label Tapahtumat alkaen:
        .input-group
          input.date-range-filter.filter-start.form-control(type="text", placeholder="Alkupäivämäärä")
          span.input-group-btn
            button.btn.btn-secondary.empty-date-filter-btn
              .fa.fa-times
        br
        label Tapahtumat ennen:
        .input-group
          input.date-range-filter.filter-end.form-control(type="text", placeholder="Loppupäivämäärä")
          span.input-group-btn
            button.btn.btn-secondary.empty-date-filter-btn
              .fa.fa-times           
