if showtimes && showtimes.length
  .movie
    div
      .image-container
        .movie-image(data-lazy-bg-image=imageUrl,data-lity data-lity-target=trailerUrl)
    div
      .title
        h3
          =title
    div
        .movie-field.showtimes
          label
            |Näytösajat:
          for showtime in showtimes
            span
              =showtime
    div
      .movie-field.age-limit
        label
          |Ikäraja:
        span
          =ageLimit
    div
      .movie-field.runtime
        label
          |Kesto:
        span
          =runtime
    div
      .movie-field.price
        label
          |Lippu:
        span
          =price
    if director
      div
        .movie-field.director
          label
            |Ohjaaja:
          span
            =director
    if cast
      div
        .movie-field.cast
          label
            |Näyttelijät:
          span
            =cast
    div
      .movie-field.classification
        label
          |Luokitus:
        for classification in classifications
          span
            =classification.name
    if description
      div.movie-field.description-container
        a.show-description-link(href='#')
          |Näytä kuvaus
        a.hide-description-link(href='#',style="display: none")
          |Piilota kuvaus
      .description(style="display: none")
        !=description
    div
      .trailer-url
       a.show-trailer-button(data-lity data-lity-target=trailerUrl,href=trailerUrl)
         |Katso traileri »